.schedule2 {
  border-radius: 15px;
  background-color: #ffffff; /* Vinho escuro */
  font-family: sans-serif;
  max-height: 400px; /* Limitar a altura para permitir o scroll */
  overflow-y: auto; /* Adicionar scroll vertical */
}

.schedule2 h2 {
  margin-bottom: 20px;
  font-size: 2rem;
  color: #350a06;
  font-weight: bold;
}

.time-slots {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.time-slot {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.time-slot button {
  width: 80%; /* Aumentar a largura dos botões */
  background-color: #ffffff; /* Branco */
  border: none;
  color: #350a06; /* Vinho escuro */
  padding: 15px 20px; /* Aumentar o padding dos botões */
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  font-size: 16px; /* Aumentar o tamanho da fonte */
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.2);
}

.time-slot button:hover {
  background-color: #4b0e0e; /* Tom mais claro de vinho escuro */
  color: #ffffff;
  transform: translateY(-3px);
}

.time-slot button:disabled {
  background-color: #4b0e0e;
  cursor: not-allowed;
}

.time-slot .selected {
  background-color: #4b0e0e; /* Tom mais claro de vinho escuro */
  color: #ffffff;
}

.button {
  margin-top: 10px;
  height: 75px;
}

.confirm-button {
  background-color: #4b0e0e;
  color: #fff;
  border: none;
  padding: 15px 20px;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin-top: 20px;
  width: 80%;
  font-size: 16px; /* Aumentar o tamanho da fonte */
}

.confirm-button:hover {
  background-color: #4b0e0e;
  color: #fff;
  transform: translateY(-3px);
}

.success-message {
  color: #4b0e0e;
  margin-top: 10px;
  font-size: 16px;
}
