.calendario {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff; /* Vinho escuro */
  color: #350a06;
  padding: 20px;
  border-radius: 15px;
  margin: 20px auto;
  max-width: 800px; /* Limitar a largura máxima */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navegacao {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin-bottom: 20px;
  
}

.navegacao button {
  background-color: #ffffff;
  color: #350a06;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.1);
}

.navegacao button:hover {
  background-color: #4b0e0e;
  color: #ffffff;
}

.navegacao div {
  font-size: 20px;
  font-weight: bold;
}

.dias-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: nowrap; /* Manter em uma única linha */
  overflow-x: auto; /* Adicionar barra de rolagem horizontal se necessário */
}

.dia {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  color: #350a06;
  border-radius: 10px;
  padding: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin: 5px 5px; /* Espaçamento horizontal */
  flex: 0 0 auto; /* Impedir que os dias encolham ou cresçam */
  box-sizing: border-box;
  text-align: center;
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.1);
}

.dia:hover {
  background-color: #4b0e0e;
  color: #ffffff;
  transform: translateY(-3px);
}

.dia-atual {
  border: 2px solid #4b0e0e;
}

.selecionado {
  border: 2px solid #350a06;
  background-color: #4b0e0e;
  color: #ffffff;
}

/* Media Queries para responsividade */
@media (max-width: 768px) {
  .navegacao div {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .navegacao {
    flex-direction: column;
  }
  .navegacao div {
    margin: 10px 0;
  }
}
